* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    font-family: "Calibri", sans-serif;
}

a {
    text-decoration: none;
    color: #ffae15;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #424242;
}

.main-content {
    flex: 1;
}

#toggle-icon {
    color: #ffae15;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-item {
    width: 100%;
    padding: 16px;
    border-bottom: 1px #6d6d6d solid;
    text-align: center;
    display: none;
}

.expanded > .menu-item {
    display: block;
}

.menu-logo-container, .menu-toggle {
    display: block;
    padding: 16px 32px;
    font-size: 20px;
}

.footer {
    padding: 8px;
    text-align: center;
}

.library-image {
    background-image: url("../img/bookshelf-books.jpg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 2px;
    height: 200px;
}

.library-header {
    text-align: center;
    font-size: 2rem;
    padding: 1.2rem 0;
    color: #ffae15;
}

.list-heading, .list-description {
    text-align: center;
    margin: 16px 0;
}

.book-list {
    list-style-type: none;
}

.book-list-item {
    margin-bottom: 16px;
    display: flex;
    border: 1px #6d6d6d solid;
}

.book-list-item-poster {
    display: block;
    max-width: 400px;
}

.book-list-item-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
}

.book-list-item-content > * {
    margin: 8px 0;
}

.book-list-item-title {
    font-size: 1.2rem;
    color: #ffae15;
}

.book-list-item-rating {
    font-size: 1.2rem;
}

.book-summary {
    display: flex;
    margin-top: 16px;
}

.book-summary-cover {
    object-fit: contain;
    max-width: 200px;
}

.book-summary-info {
    margin-left: 16px;
}

.book-summary-title {
    margin-bottom: 16px;
    color: #ffae15;
    font-size: 1.5rem;
}

.book-rating-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
}

.book-rating-form > p {
    text-align: center;
    margin-bottom: 16px;
}

.book-rating-value {
    font-size: 3rem;
    text-align: center;
}

.book-rating-button {
    background-color: #ffc107;
    border: 0;
    padding: 4px;
    font-size: 1rem;
    border-radius: 4px;
    opacity: 0.8;
}

.book-rating-button:hover {
    opacity: 1;
}

.book-rating-container > * {
    margin: 8px 0;
}

.book-section {
    margin-top: 16px;
    padding: 16px;
    border: 1px #6d6d6d solid;
}

.book-section-heading {
    margin-bottom: 8px;
}

.error-container {
    margin: 32px auto;
}

.error-container > * {
    display: block;
    text-align: center;
}

.error-header {
    font-size: 2rem;
    margin: 16px 0;
}

.list-border {
    margin: auto;
    list-style: none;
}

.list-border > li {
    font-size: 1.2rem;
    border: 1px #6d6d6d solid;
    padding: 16px;
    text-align: center;
}

@media only screen and (min-width: 992px) {
    .menu-toggle {
        display: none;
    }

    .menu-item {
        display: block;
        width: auto;
        border-bottom: 0;
    }

    .menu-logo-container {
        flex: 1;
    }

    .main-content, .menu {
        align-self: center;
        width: 960px;
    }

    .book {
        display: flex;
        justify-content: space-between;
    }

    .book-rating-buttons {
        display: flex;
        flex-wrap: nowrap;
    }

    .book-rating-button {
        font-size: 1.2rem;
        margin: 0 4px;
    }
}




